/* To-Do Styling */
:root {
  --primary-color: #f7e1d4;
  --secondary-color: #f6d1be;
  --tertiary-color: #a0c0a9;
  --tertiary-darker: #4f8781;
  --button-color: #d2941f;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Uni Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  background-attachment: fixed;
  background-size: contain;
  background-size: contain;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Hippie Vintage', sans-serif;
  margin: 30px 0 20px 0;
  color: black;
}

header h1 .T,
.L {
  font-family: 'Hippie Vintage', sans-serif;
  color: var(--secondary-color);
}

header h1 .O,
.I {
  font-family: 'Hippie Vintage', sans-serif;
  color: var(--tertiary-color);
}

header h1 .D,
.S {
  font-family: 'Hippie Vintage', sans-serif;
  color: var(--button-color);
}

header h1 .oo,
.tt {
  font-family: 'Hippie Vintage', sans-serif;
  color: var(--tertiary-darker);
}

header p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--tertiary-color);
  text-shadow: 0 5px 10px var(--secondary-color);
  margin-bottom: 10px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

header p q {
  color: var(--button-color);
}

/* Main */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

/* Input Task */
.container #add-task-container {
  width: 89%;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex;
}

.container #add-task-container div {
  flex: 13;
  margin-right: 7px;
  align-self: center;
}

.container #add-task-container div i {
  position: absolute;
  color: var(--button-color);
  margin: 9px 0px 0px 9px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.container #add-task-container div {
  display: flex;
}
.container #add-task-container div #inputTask,
#inputTaskDec {
  flex: 2;
  border-radius: 10px;
  font-size: 1rem;
  padding: 6px 2px 6px 28px;
  appearance: none;
  border: 1px solid black;
  outline: none;
  width: 100%;
}

.container #add-task-container div #inputTask:focus,
#inputTaskDec:focus {
  box-shadow: 0 5px 10px gray;
}

.container #add-task-container #add-task,
#deleteAll-task {
  flex: 1;
  transition: 0.3s;
  font-size: 1.5rem;
  padding: 1px 0;
  background-color: #fff;
  border: black solid 1px;
  border-radius: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.3s ease;
}

.container #add-task-container #add-task {
  color: var(--tertiary-color);
  margin-right: 5px;
}

.container #add-task-container #deleteAll-task {
  color: red;
}

.container #add-task-container #add-task:hover {
  background-color: var(--tertiary-color);
  color: #fff;
  box-shadow: 0 5px 10px gray;
}

.container #add-task-container #deleteAll-task:hover {
  background-color: darkred;
  color: #fff;
  box-shadow: 0 5px 10px gray;
}

/* Task List */
.container #task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 10px gray;
  border-radius: 10px;
  border: 1px solid black;
  width: 95%;
}

/* Task Search */
.container #task-container .task-tool {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-top: 20px;
}

/* Search */
.s-container {
  display: flex;
  align-content: center;
  flex: 3;
}

.container #task-container .task-tool div i {
  position: absolute;
  color: var(--button-color);
  margin: 8px 0px 0px 10px;
  transform: scale(1.3);
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

.container #task-container .task-tool div #taskSearch {
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px 3px 5px 34px;
  appearance: none;
  border: 1px solid black;
  outline: none;
  width: 89%;
}

.container #task-container .task-tool div #taskSearch:focus {
  box-shadow: 0 5px 10px gray;
}

/* progress */
.p-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.progress-container {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: var(--button-color);
  border-radius: 15px;
  z-index: 2;
  width: 100%;
  height: 0;
}

#progressBar {
  z-index: 1;
  width: 0%;
  height: 20px;
  background-color: var(--tertiary-darker);
  border-radius: 10px;
}
#progressText {
  color: var(--primary-color);
  margin: -22px 0px 0px 0%;
  text-align: center;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: black;
}

.status-bar {
  text-align: center;
}

#quote {
  font-weight: 500;
  padding: 0 10px;
  align-items: center;
  color: var(--button-color);
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: black;
}

.progress-background {
  height: 20px;

  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--tertiary-color);
  z-index: -4;
  border: 1px solid black;
  border-radius: 10px;
}

/* Styling for task which get added to to-do list */
.container #task-container #tasksList {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 45px 0 20px 0;
}
.container #task-container #tasksList p {
  margin-top: 15px;
  display: flex;
  text-align: center;
}

.container #task-container #tasksList .colorDiv {
  flex: 1;
  background-color: var(--tertiary-darker);
  margin: -15px 10px 0px -20px;
  border-right: 1px solid black;
}

#tasksList .task {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 100px;
  margin: 10px 10px 15px 10px;
  padding: 13px 15px 0 15px;
  border-radius: 20px;
  box-shadow: 0 5px 10px gray;
  border: 1px solid black;
  overflow-wrap: anywhere;
  overflow: hidden;
}

#tasksList .divTask {
  display: flex;
  flex-direction: column;
  flex: 6;
}

#tasksList .taskTitle,
.taskDec {
  align-self: baseline;
  overflow-wrap: anywhere;
}
#tasksList .taskTitle[contenteditable='true'] {
  border: 1px solid lightgray;
}

#tasksList .taskDec {
  margin-top: 7px;
  color: grey;
}
#tasksList .taskDec[contenteditable='true'] {
  border: 1px solid lightgray;
}

#tasksList .taskTitle[readonly='readonly'] {
  appearance: none;
  border: none;
  outline: none;
}

#tasksList .checkTask {
  margin-right: 15px;
  font-size: 1.5rem;
  align-self: baseline;
  transform: scale(1.6);
  cursor: pointer;
  flex: 0;
  border: 10px solid black;
}

#tasksList .task.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.btnContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-right: 19px;
  margin-top: -5px;
}

#tasksList .deleteTask {
  color: red;
  border: 0;
  font-size: 1.2rem;
  align-self: end;
  font-weight: 900;
  width: 0;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

#tasksList .deleteTask:hover {
  color: darkred;
}

#tasksList .editTask {
  color: var(--tertiary-color);
  border: 0;
  font-size: 1.2rem;
  align-self: end;
  font-weight: 900;
  width: 0;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

#tasksList .editTask:hover {
  color: var(--tertiary-darker);
}

footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-radius: 15px;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--secondary-color);
}

footer .Contact {
  flex: 0;
}

footer .Contact i {
  color: var(--tertiary-color);
  font-size: 30px;
  margin-right: 10px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}
footer .team {
  flex: 3;
  text-align: center;
  color: var(--button-color);
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

footer .team bdi {
  color: var(--tertiary-color);
}

@media (max-width: 950px) {
  .container #task-container .task-tool {
    flex-direction: column;
  }
  .container #add-task-container div {
    flex-direction: column;
  }
}
